# dependencies
**/node_modules
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# typescript
*.tsbuildinfo
next-env.d.ts

# builds / production
**/dist
dist/
build/
out/
.next/
.cache/

# environment / secrets
.env
.env.*
.env.local
.env.local.*
.env.development
.env.development.*
.env.production
.env.production.*
!.env.example
.tokens.json
.simply-create-playlists.json

# logs / debug / testing
*.log
/coverage
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
Thumbs.db
.vercel
.vscode/
.idea/
*.tmp
*.swp

# app data
misses.json
overrides.json
playlists.json